<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des produits</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Liste des produits</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Produit X</td>
                    <td>$10.00</td>
                    <td>Description du produit X</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Produit Y</td>
                    <td>$20.00</td>
                    <td>Description du produit Y
                </tr>
            <tr>
                    <th scope="row">3</th>
                    <td>Produit 3</td>
                    <td>$30.00</td>
                    <td>Description du produit 3</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
